@model IEnumerable<Web_MSI.Models.Penalidades>
@using System.Collections.Generic;
<h1>Inicio</h1>
@{
    ViewData["Title"] = "inicio";
}
<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h9>Item</h9>
            </th>
            <th>
                <h9>NombreFisca</h9>
            </th>
            <th>
              <h9>N° Penalidad</h9>
            </th>
            <th>
              <h9>Fecha</h9>
            </th>
            <th>
              <h9>Hora</h9>
            </th>
            <th>
              <h9>Estado</h9>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_Fis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
<br>
<br><br>