@model IEnumerable<Web_MSI.Models.ApplicationUser>
 
@using System.Collections.Generic;
@{
    ViewData["Title"] = "Users";
}
<br>
<br>
<h1>usuarios</h1>

<p>
    <a asp-action="Create">Crear nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h9>Nombre</h9>
            </th>
            <th>
                <h9>Apellido</h9>
            </th>
            <th>
              <h9>DNI</h9>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br>
<br><br>